
/**
 * TestFlight logo.
 */

.logo[data-logo="TestFlight"] {
  width: 0;
}

.logo[data-logo="TestFlight"] > * {
  background-image: url(images/logo.svg);
  margin: 0 0 0 0;
}

.logo[data-logo="TestFlight"][data-color="black"] > * {
  background-image: url(images/logo-black.svg);
}

.logo[data-logo="TestFlight"][data-color="white"] > * {
  background-image: url(images/logo-white.svg);
}
